@import "../scss/general.scss";

.header {
    position: relative;

    .navigation {
        position: relative;
        z-index: 999;
        padding-bottom: 32px;

        .navbar-brand {
            @media (max-width: #{$mobile-xs}) {
                max-width: 180px;
            }
        }
    }

    .navbar-toggler {
        border: 0;
    }

    .navbar-toggler-icon {
        background-image: url('../img/icons/icon-toggle.svg');
    }

    &.header-main {
        height: 100vh;
        background: url('../img/img-hero-main.jpg') no-repeat center center/cover;

        @media (max-width: #{$mobile-sm}) {
            height: 80vh;
            background: url('../img/img-hero-main-mobile.jpg') no-repeat center center/cover;
        }

        @media (max-width: #{$mobile-xs}) {
            height: 56vh;
        }

        .header-content {
            position: absolute;
            top: 56%;
            left: 50%;
            transform: translate(-50%, -44%);
            text-align: center;
            color: white;

            @media (max-width: #{$mobile-sm}) {
                top: 64%;
                transform: translate(-50%, -44%);
                width: 70%;
            }

            @media (max-width: #{$mobile-xs}) {
                width: 100%;
            }
        }
    }

    &.header-internal {
        height: auto;
        background: $primary no-repeat center center/cover;

        .header-content {
            text-align: center;
            color: white;
            padding: 24px 0 56px 0;
        }
    }

    .navbar-top {
        border-bottom: 1px solid rgba(214, 168, 87, 0.5);
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .nav-lang,
    .social-icons {
        min-width: 324px;

        @media (max-width: #{$tablet-xl}) {
            display: none;
        }


        .nav-item {
            padding: 0 28px;
            border-right: 1px solid #758072;

            &:last-child {
                border-right: 0;
            }

            .nav-link {
                color: #C8CBC2;
                font-size: 1.14rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
                padding: 0;

                &.active,
                &:hover {
                    color: $secondary;
                }
            }
        }
    }

    .navbar-collapse {

        .nav-lang,
        .social-icons {
            min-width: 100%;

            @media (max-width: #{$tablet-xl}) {
                display: flex;
                flex-direction: row;
                padding: 16px 0;


            }

            @media (min-width: #{$tablet-xl}) {
                display: none;
            }
        }
    }

    .social-icons {
        gap: 24px;
    }

    .navbar-main {
        padding-top: 16;
        padding-bottom: 16;

        .navbar-nav {
            justify-content: space-evenly;
            width: 100%;

            @media (max-width: #{$tablet-xl}) {
                justify-content: center;
                text-align: center;
            }

            &.nav-main {
                .nav-item {
                    .nav-link {
                        @media (max-width: #{$tablet-xl}) {
                            padding: 16px 0;
                        }
                    }
                }
            }

            .nav-item {
                .nav-link {

                    color: white;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.2;

                    &:hover,
                    &.active {
                        color: $secondary;
                    }
                }
            }
        }
    }
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #2D5340 0%, rgba(45, 83, 64, 0.00) 33.18%, rgba(45, 83, 64, 0.00) 100%);
}

.navbar {
    background: transparent !important;
}

.navbar-custom {
    flex-direction: column;
}



.social-icons {
    list-style: none;
    display: flex;
    padding-left: 0;
    flex-direction: row;
}

.social-icons li {
    margin: 0 5px;
}

.social-icons a {
    color: white;
    font-size: 1.5rem;
}

.header-content {

    .header-content h1 {
        font-size: 3rem;
        margin-bottom: 20px;

        @media (max-width: #{$mobile-sm}) {
            font-size: 2rem;
            margin-bottom: 12px;
        }
    }

    .header-content p {
        font-size: 1.25rem;
        margin-bottom: 30px;
    }
}



.levitating-imgs {
    display: flex;
    align-items: center;
    gap: 72px;
    align-items: stretch;

    .levitating-imgs__col {
        display: flex;
        flex-direction: column;
        gap: 72px;
        justify-content: flex-start;

        &:first-child {
            img {
                &:last-child {
                    width: 70%;
                }
            }

            @media (max-width: #{$mobile-sm}) {
                display: none;
            }
        }

        &:nth-child(2) {
            padding-top: 56px;
            width: 50%;

            @media (max-width: #{$mobile-sm}) {
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        &:nth-child(3) {
            justify-content: flex-end;
            padding-bottom: 72px;
            align-items: flex-end;

            img {
                &:first-child {
                    width: 70%;
                }
            }

            @media (max-width: #{$mobile-sm}) {
                display: none;
            }
        }

        .levitating-imgs__col__description {
            text-align: center;
        }
    }
}

.centered-block-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .section-base__description {
        text-align: center;
        padding: 10%;
    }
}

.socials {
    padding: 80px 0;

    .cosial-block {
        margin-bottom: 40px;

        .cosial-block__title {
            display: flex;
            align-items: baseline;

            span {
                color: $primary;
                font-family: $font-primary;
                font-size: 1.2rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 1.44px;
                text-transform: uppercase;
                margin-bottom: 16px;

                &::after {
                    content: "";
                    width: 100%;
                    background-color: $secondary;
                    height: 1px;

                }
            }

            hr {
                flex-grow: 1;
                border: none;
                border-top: 1px solid $secondary;
                margin-left: 8px;
                opacity: 1;
            }
        }

    }
}

.carousel-books {
    padding: 80px 0;

    .carousel-books__block-wrap {
        .carousel-books__block {
            display: flex;
            align-items: center;
            gap: 56px;
            padding: 2px;

            @media (max-width: #{$tablet-xl}) {
                flex-direction: column;

            }

            .carousel-books__block__description {
                .subtitle {
                    color: white;
                    font-size: 1.2rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1.44px;
                    text-transform: uppercase;
                }

                .title {
                    color: white;
                    font-family: $font-primary;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.5;
                }
            }
        }
    }
}

.badges-carousel {
    padding: 0 15%;

    .badges-carousel__block-wrap {
        .badges-carousel__block {
            img {
                margin: 0 auto;
            }
        }
    }
}

//interiors


.team {
    .row {
        justify-content: center;
    }

    .team-card {
        margin-bottom: 40px;

        img {
            margin-bottom: 0;
            width: 100%;
        }

        .team-card__description {
            display: flex;
            padding: 44px;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            background-color: white;

            h4 {
                text-align: center;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.7;
                text-transform: uppercase;
            }
        }
    }

    &.team-featured {
        .team-card {
            display: flex;

            @media (max-width: #{$tablet-xl}) {
                flex-direction: column;
            }

            .team-card__description {
                justify-content: center;
            }
        }
    }
}

.books {
    .book-block__wrap{
        .row{
            @media (max-width: #{$mobile-sm}) {
                flex-direction: column-reverse;
            }  
        }
        &:nth-child(odd) {
            background-color: white;
        }
        &:nth-child(even) {
            .row{
                flex-direction: row-reverse;
                @media (max-width: #{$mobile-sm}) {
                    flex-direction: column-reverse;
                } 
            }
        }
    }

    .book-block {
        display: flex;
        align-items: center;
        padding: 80px 0;

        

        h3 {
            color: $primary;
            font-size: 2rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 3px;
            text-transform: uppercase;
        }

        .price {
            display: flex;
            justify-content: space-between;

            .price-title {
                font-size: 1.375rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.7;
                text-transform: uppercase;
            }
        }

        .book-block-aside {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }
    }
}