@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
$green:#0A4833;
$yellow: #CBA35E;
$input-btn-padding-y: .625rem;
$input-btn-padding-x: 1.5rem;

$primary: $green;
$secondary: $yellow;

$btn-secondary-color: white;

$btn-border-radius: 1rem .125rem 1rem .125rem;
$btn-border-radius-sm: 1rem .125rem 1rem .125rem;
$btn-border-radius-lg: 1rem .125rem 1rem .125rem;

$border-radius:               .0625rem ;


@import "../node_modules/bootstrap/scss/bootstrap.scss";

