$gradient-secondary: linear-gradient(85deg, #CBA35E -0.32%, #C5984B 99.68%);
$neutral: #FAF7F2;

$font-primary: "DM Sans", sans-serif;
$font-secondary: "Playfair Display", serif;
$font-color-base: #304238;


$mobile-xs: 575px;
$mobile-sm: 768px;
$tablet: 992px;
$tablet-xl: 1199px;
$laptop: 1440px;
$desktop: 1920px;

